TURSO_KEY="eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3OTA5NDU2NDQsImlkIjoiMDFhMGZjYTctNjUwMS03M2Y0LTlkMDctMjJhZjgxOTM5NzVhIiwia2lkIjoiZDZHU1F4cFhRRGZ5aW5LWlI4cEpRTVBpRHBFNW5FVmpWQ0tGbWpuSWc4ayIsInJpZCI6IjQ2ZDk5MWE4LTFkNjgtNDI2MC05OTZmLTY4YmU0ZGY5YzVlNiJ9.AYUVyXs0z9qvF3u3I31gTGdRee2BDaQ5uC2_IVJgfejWIbHEFgfyM9i5OotJvE9eOoXk4NXJ6QadIVaW6APxDA"
TURSO_URL="libsql://kiwihackshackathon-mooshay105.aws-eu-west-1.turso.io"